{% extends "layout.html" %}
{% block head_title %}archive{% endblock %}
{% block body %}
<article>
    <h1>Archive</h1>
    <nav>
    {% for k in items.keys()|sort(True) %}
        {% if k|length == 4 %}
        <h2><a href="{{k}}/">{{k}}</a></h2>
        {% elif k[0] == '_' %}
        <h2>{{k[5:]}}</h2>
        {% else %}
        <h2><a href="{{k[:2]}}/">{{k[4:]}}</a></h2>
        {% endif %}
        <ul>
		{% for i in items[k]|reverse %}
            <li><a href="{{site_root_url}}{{i[0]}}">{{i[1]}}</a></li>
		{% endfor %}
		</ul>
    {% endfor %}
    </nav>
</article>
{% endblock %}
