<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.subdimension.co.uk/blog_feed.xml">

<link rel="stylesheet" type="text/css" href="http://www.subdimension.co.uk/style/subdimension2012/subdimension2012.css">

<script type="text/javascript" src="http://system.subdimension.co.uk/pulse/a/"></script>

<title>{% block head_title %}{% endblock %} &raquo; subdimension</title>

</head>

<body>

<header>
	<h1>subDimension</h1>
	<p>my place to put things</p>
</header>

<nav>
	<ul>
		<li><a href="http://www.subdimension.co.uk/">blog</a></li>
		<li><a href="http://www.subdimension.co.uk/2011/04/17/projects.html">projects</a></li>
		<li><a href="http://www.subdimension.co.uk/2011/04/05/about_me.html">about me</a></li>
		<li class="spacer"><a href="http://www.subdimension.co.uk/archive.html">archive</a></li>
		<li class="spacer"><a href="http://twitter.com/MalphasWats">twitter</a></li>
		<li><a href="http://www.facebook.com/MalphasWats">facebook</a></li>
		<li><a href="http://stackoverflow.com/users/123217/malphaswats">stack overflow</a></li>
		<li><a href="https://github.com/MalphasWats">github</a></li>
		<li class="spacer"><form method="post" action="http://system.subdimension.co.uk/electrostatic/search"><input type="text" name="search_string" id="search_string" size="18" value="search" onfocus="this.value='';" onblur="this.value='search';"></form></li>
	</ul>
</nav>

<section>
{% block body %}{% endblock %}
</section>

</body>
</html>
